* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.splash-page-img-wrapper {
  width: 100vw;
  height: 675px;
  background-image: url('https://i.imgur.com/6gCYthp.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.polaroid-img-wrapper {
  display: flex;
  width: 90%;
  max-width: 90%;
  margin: -125px auto;
  justify-content: center;
  align-items: center;
}

.polaroid-image {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

#splash-page-button {
  font-size: 36px;
  font-weight: 400;
  width: 400px;
  height: 50px;
  padding: 0;
  margin: 0 auto;
}

.splash-page-listings-link-container {
  width: 100%;
  display: flex;
}

.splash-page-listings-link {
  margin: 300px auto;
}

.splash-page-logo {
  height: 150px;
  align-self: center
}

.splash-page-nav {
  position: absolute;
  width: 100%;
  box-shadow: none;
}

#splash-page-nav-links {
  display: block;
  margin-top: 2.5rem
}

nav {
  height: 100px;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  margin-bottom: 25px;
  background-color: transparent;
}

.nav--logo-title-container {
  display: flex;
}

.nav--logo {
  width: 3.5rem;
  height: 3.5rem;
  align-self: center;
  margin: 15px;
  margin-top: 20px;
}

.nav--title {
  font-size: 1.5rem;
  align-self: center;
  font-weight: 400;
}

a:hover.nav--logo-title-container,
a:hover.listing {
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav--listings,
.nav--contribute,
.nav--userform {
  margin-right: 15px;
  align-self: center;
}

.nav--links {
  font-size: 1rem;
  color: black;
  text-align: right;
  display: grid;
  grid-auto-rows: auto;
  margin-left: auto
}

form {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, .7);
  width: 25rem;
  border-radius: 2.5rem;
  margin-bottom: 50px;
  box-shadow: 3px 3px #999;
}

input,
textarea {
  padding: 5px;
  text-align: center;
  display: block;
  margin: 10px auto;
  border-radius: 1rem;
}

textarea {
  padding: 10px;
  resize: none;
  text-align: start;
}

.address-two-city-state-zip-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ratings {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button {
  padding: 10px 15px;
  text-align: center;
  cursor: default;
  color: #fff;
  background-color: #1991f3;
  border: none;
  border-radius: 15px;
  box-shadow: 3px 3px #999;
  margin-bottom: 15px;
}

.button:hover {
  background-color: #115b96
}

.button:active {
  background-color: #0b3c65;
  box-shadow: 4px 4px #666;
  transform: translateY(4px);
}

.listing-detail-buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto
}

.delete-listing-button {
  background-color: red;
}

.delete-listing-button:hover {
  background-color: #961111
}

.delete-listing-button:active {
  background-color: #650b0b;
  box-shadow: 4px 4px #666;
  transform: translateY(4px);
}

.listings-title,
.user-form-header,
.listing-form-header {
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 10px;
}

.listings-grid {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
}

.listing-container {
  height: 25rem;
  width: 22.5rem;
  margin: 12px;
  overflow: hidden;
  border-radius: 2.5rem;
}

.listing {
  text-decoration: none;
  overflow: hidden;
}

.listing-img {
  display: flex;
  height: 400px;
}

.listing-rating {
  margin-left: auto;
  font-weight: 300;
  font-size: 24px;
}

.listing-info-container {
  background-image: linear-gradient(#28272773, transparent);
  position: relative;
  top: -95px;
  color: white;
  padding: 0 15px 0 20px;
  border-radius: 0 0 2.5rem 2.5rem;
  height: 5.75rem;
  overflow: hidden;
}

.listing-info-header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

.listing-name {
  font-size: 18px;
  margin-right: auto;
}

.listing-container h3,
h4 {
  font-weight: 300;
}

.listing-address {
  margin-top: -10px;
}

.listing-container {
  height: 25rem;
  width: 22.5rem;
  margin: 12px;
  overflow: hidden;
  border-radius: 2.5rem;
}

.listing {
  text-decoration: none;
  overflow: hidden;
}

.listing-detail-container {
  margin: 75px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.listing-detail-img-container {
  border-radius: 2.5rem;
  overflow: hidden;
  height: 500px;
  width: 500px;
}

.listing-detail-img {
  height: 100%
}

.listing-detail-info-container {
  text-align: right;
  margin: 50px
}

.listing-detail-rating {
  font-weight: 300;
  font-size: 24px;
}

.listing-detail-city {
  margin-bottom: 20px;
}

.listing-detail-overlay {
  color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  border-radius: 2rem;
  font-size: 3rem;
  height: 500px;
  width: 600px;
  position: relative;
  top: -650px;
  margin: 100px auto;
  background-color: rgba(0, 0, 0, .7);
}

.overlay-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}

.hidden {
  opacity: 0;
  z-index: -1;
}

#update-listing-form-container {
  margin: 0 auto;
  font-size: 16px;
}

.listing-form {
  margin-top: 25px;
  color: white;
}

.update-listing-form-spacer {
  height: 150px
}