* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

nav {
  height: 100px;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  margin-bottom: 25px;
}

.nav--logo {
  width: 3.5rem;
  height: 3.5rem;
  align-self: center;
  margin: 15px;
  margin-top: 20px;
}

.nav--title {
  font-size: 1.5rem;
  align-self: center;
  font-weight: 400;
}

a {
  color: black;
}

.nav--listings {
  color: black;
  font-size: 1rem;
  align-self: center;
  margin-right: 10px;
  margin-left: auto
}

form {
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 20rem;
  align-items: center;
  margin: 0 auto;
}

input,
textarea {
  display: block;
  margin: 5px;
  padding: 5px;
  border-radius: 8%
}

input {
  text-align: center;
}

.button {
  padding: 10px 15px;
  text-align: center;
  cursor: default;
  color: #fff;
  background-color: #1991f3;
  border: none;
  border-radius: 15px;
  box-shadow: 3px 3px #999;
  margin-bottom: 15px;
}

.button:hover {
  background-color: #115b96
}

.button:active {
  background-color: #0b3c65;
  box-shadow: 4px 4px #666;
  transform: translateY(4px);
}

.listing-img {
  max-width: 100%;
  border-radius: 10%;
}

.listing {
  text-decoration: none;
  overflow: hidden;
}

.listings-grid {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
}

.listing-container {
  height: 25rem;
  width: 25rem;
  margin: 5px;
  /* background-color: red; */
}